/*
* @Author: gj
* @Date:   2017-04-03 17:07:11
* @Last Modified by:   gj
* @Last Modified time: 2017-04-05 09:20:32
*/
*{
	margin:0;
	padding:0;
	list-style:none;
	font-family: 微软雅黑;
}
a{
	text-decoration: none;
}
.head{
	height: 40px;
	border-bottom: 1px solid #09090A;
}
.head .con{
	height: 40px;
}
.head .yonghu{
	float:left;
	font-size:35px;
}
.head .yonghu:hover{
	color: #888;
}
.head .box{
	width:70%;
	height:100%;
	float:right;
}
.head .ul{
	width:100%;
	height:100%;
	line-height:40px;
}
.head .li{
	width:auto;
	float:right;
	margin-left: 5%;
}
.head .a{
	font-size: 16px;
	color:#09090A ;
}
.head .a:hover{
	color:#888;
}
.head .box1{
	width:10%;
	float: right;
	display: none;
}
.head .daohang{
	font-size: 35px;
}
.head .daohang:hover{
	color: #888;
}



/* banner */
.banner{
	height:600px;
	background:blue;
	overflow: hidden;
}
.banner .box{
	width: 100%;
	height: 600px;
	position: relative;
}
.banner .img{
	width:100%;
	height:100%;
	position: absolute;
}
.banner .kuang{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}
.banner .span{
	display: block;
	font-size:80px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	position: absolute;
	top:40%;
	left: 40%;
}


/* about */
.about{
	height:auto;
	overflow: hidden;
	margin-top:50px;
}
.about .con{
	width: 90%;
	margin: 0 auto;
	height:auto;
	overflow: hidden;
}
.about .box{
	height:400px;
	float: left;
	background: pink;
}
.about .boximg{
	width: 100%;
	height: 100%;
}
.about .box1{
	height:auto;
	float: left;
	padding:10px 20px;
	box-sizing: border-box;
}
.about .box2{
	height:220px;
	float:left;
	padding:5px 20px;
	box-sizing: border-box;
}
.about .p{
	font-size:24px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.about .p1{
	font-size:16px;
	color: #888;
	margin-bottom:5%;
}
.about .p2{
	font-weight: bold;
	font-size:18px;
	color: #000;
}
.about .meter{
	width:80%;
	margin-bottom:1.5%;
}


/* hobby */
.hobby{
	height:auto;
	background: #ccc;
	overflow: hidden;
	margin-top:50px;
}
.hobby .con{
	height:auto;
	overflow: hidden;
}
.hobby .box1{
	height:100%;
	float:left;
}
.hobby .meishi{
	display: block;
	font-size: 80px;
	text-align: center;
	margin: 20% 0 10%;
	transition:all 0.1s linear;
	color: #000;
}
.hobby .yumaoqiu{
	display: block;
	font-size: 80px;
	text-align: center;
	margin: 20% 0 10%;
	transition:all 0.1s linear;
	color: #000;
}
.hobby .zihangche{
	display: block;
	font-size: 80px;
	text-align: center;
	margin:20% 0 10%;
	transition:all 0.1s linear;
	color: #000;
}
.hobby .icon-2{
	display: block;
	font-size: 80px;
	text-align: center;
	margin: 20% 0 10%;
	transition:all 0.1s linear;
	color: #000;
}
.hobby .box1 .icon-2:hover{
	color: #fff;
	transform: scale(1.5,1.5);
}
.hobby .box1 .yumaoqiu:hover{
	color: #fff;
	transform: scale(1.5,1.5);
}
.hobby .box1 .zihangche:hover{
	color: #fff;
	transform: scale(1.5,1.5);
}
.hobby .box1 .meishi:hover{
	color: #fff;
	transform: scale(1.5,1.5);
}
.hobby .box1 .pp{
	font-size:24px;
	color:#000;
	margin-bottom: 10%;
	text-align: center;
}

/* por */
.production{
	height: auto;
	overflow: hidden;
	margin-top:50px;
}
.production .con{
	height: auto;
	overflow: hidden;
}
.production .p1{
	font-size:20px;
	color: #000;
	text-align: center;
	margin-bottom: 2%;
}
.production .box{
	width: 100%;
	height: 300px;
	background: red;
}
.production .box1{
	height:300px;
	float: left;
	background-image: url("../img/mi.jpg");
	background-size: cover;
}
.production .box1 .kuang{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	line-height:300px;
	display: none;
}
.production .box1 .fangdajing{
	font-size:50px;
	color: #fff;
	display: block;
	text-align: center;
}
.production .box2 .fangdajing{
	font-size:50px;
	color: #fff;
	display: block;
	text-align: center;
}
.production .box3 .fangdajing{
	font-size:50px;
	color: #fff;
	display: block;
	text-align: center;
}
.production .box4 .fangdajing{
	font-size:50px;
	color: #fff;
	display: block;
	text-align: center;
}
.production .box2 .kuang1{
	width: 100%;
	height: 100%;
	line-height:300px;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.production .box3 .kuang2{
	width: 100%;
	height: 100%;
	line-height:300px;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.production .box4 .kuang3{
	width: 100%;
	height: 100%;
	line-height:300px;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.production .box1:hover .kuang{
	display: block;
}
.production .box2:hover .kuang1{
	display: block;
}
.production .box3:hover .kuang2{
	display: block;
}
.production .box4:hover .kuang3{
	display: block;
}
.production .box2{
	height:300px;
	float: left;
	background-image: url("../img/tian.png");
	background-size: cover;
}

.production .box3{
	height:300px;
	float: left;
	background-image: url("../img/fan.png");
	background-size:cover;
	background-repeat: no-repeat;
}

.production .box4{
	height:300px;
	float: left;
	background-image: url("../img/iphone.jpg");
	background-size: cover;
}


/* boke */
.boke{
	height:auto;
	margin-top:50px;
	overflow: hidden;
}
.boke .con{
	height:auto;
	overflow: hidden;
}
.boke .ppp{
	font-size:20px;
	color: #000;
	text-align: center;
	margin-bottom: 2%;
}
.boke .box{
	width:100%;
	height:auto;
	overflow: hidden;
}
.boke .box1{
	padding: 20px 20px;
	box-sizing:border-box;
	float: left;
}
.boke .img{
	width: 100%;
}
.boke .p3{
	font-size:14px;
	color: #888;
}
.boke .p2{
	font-size: 20px;
	color: #000;
}

/* bottom */
.bottom{
	height: auto;
	overflow: hidden;
	margin-top: 30px;
}
.bottom .con{
	height: auto;
	overflow: hidden;
}
.bottom .p{
	font-size: 20px;
	color: #000;
	text-align: center;
}
.bottom .box1{
	width: 100%;
	height:auto;
	overflow: hidden;
	padding:5% 5%;
	box-sizing: border-box;

}
.bottom .box2{
	height:300px;
	background: #fff;
	padding:5% 5%;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
.bottom .dianhua{
	float: left;
	font-size: 20px;
}
.bottom .youjian{
	float: left;
	font-size:20px;
}
.bottom .address{
	float: left;
	font-size:20px;
}
.bottom .p5{
	font-size: 18px;
}
.bottom .p6{
	font-size: 16px;
	color: #ccc;
	margin-bottom: 10%;
}
.bottom .box3{
	height: 300px;
	background: #fff;
	padding:5% 5%;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
.bottom .name{
	width: 80%;
	height:20%;
	color: #ccc;
	border-radius: 5px 5px;
	border:1px solid #ccc;
	margin-bottom: 2%;
}
.bottom .text{
	width: 80%;
	height:50%;
	color: #ccc;
	border-radius: 5px 5px;
	border:1px solid #ccc;
	margin-bottom: 2%;
}

/* db */
.db{
	height: 100px;
	background: #111;
	line-height: 100px;
}
.db .pppp{
	font-size: 20px;
	color: #ccc;
	text-align: center;
}

@media screen and (max-width:768px){
	.head{
		width:auto;
	}
	.head .con{
		width:100%;
	}
	.head .box{
		display:none;
	}
	.head .box1{
		display:block;
	}
	.banner{
		height: 500px;
		width: 100%;
	}
	.banner .box{
		width:768px;
		height:500px;
	}
	.banner .kuang .span{
		display: block;
		font-size: 60px;
	}
	.banner .img{
		width:768px;
	}
	.hobby{
		width:768px;
		padding: 0 30%;
		box-sizing: border-box;
	} 
	.hobby .box1{
		width:60%;
	}
	.hobby .iconfont{
		margin:5% auto;
	}
	.production{
		width: 100%;
	}
	.production .box1{
		height:700px;
	}
	.production .box2{
		height:700px;
	}
	.production .box3{
		height:700px;
	}
	.production .box4{
		height:700px;
	}

	.production .box1 .kuang{
		line-height: 600px;
	}
	.production .box2 .kuang1{
		line-height: 600px;
	}
	.production .box3 .kuang2{
		line-height: 600px;
	}
	.production .box4 .kuang3{
		line-height: 600px;
	}

}